<!DOCTYPE html>
<html>
  <head>
    <title><%= GraphiQL::Rails.config.title || 'GraphiQL' %></title>
      <% if defined?(Propshaft) %>
        <%= stylesheet_link_tag("graphiql/rails/graphiql-3.8.3") %>
        <%= stylesheet_link_tag("graphiql/rails/application") %>
        <%= javascript_include_tag("graphiql/rails/application", nonce: true )  %>
      <% elsif defined?(Sprockets) %>
        <%= stylesheet_link_tag("graphiql/rails/application") %>
        <%= javascript_include_tag("graphiql/rails/application", nonce: true )  %>
      <% else %>
        <%= stylesheet_link_tag("/graphiql-rails/stylesheets/graphiql-3.8.3.css") %>
        <%= stylesheet_link_tag("/graphiql-rails/stylesheets/application.css?v=#{GraphiQL::Rails::VERSION}") %>
        <%= javascript_include_tag("/graphiql-rails/javascripts/application.js?v=#{GraphiQL::Rails::VERSION}", nonce: true)  %>
      <% end %>
  </head>
  <body>
    <%= content_tag :div, 'Loading...', id: 'graphiql-container', data: {
      graphql_endpoint_path: graphql_endpoint_path,
      initial_query: GraphiQL::Rails.config.initial_query,
      logo: GraphiQL::Rails.config.logo,
      headers: GraphiQL::Rails.config.resolve_headers(self),
      query_params: GraphiQL::Rails.config.query_params,
      header_editor_enabled: GraphiQL::Rails.config.header_editor_enabled,
      input_value_deprecation: GraphiQL::Rails.config.input_value_deprecation,
      should_persist_headers: GraphiQL::Rails.config.should_persist_headers
    } %>
  </body>
</html>
